<h4>Internal Server Error</h4>
@if (error)
{
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you are seeing this error then angular is not to blame!</p>
    <p>What to do next?</p>
    <ol>
        <li>Open chrome dev tools and check the failing network request</li>
        <li>Examine the url of the failing request</li>
        <li>Reproduce the error in postman - if you can then angular is not to blame</li>
    </ol>
    <p class="font-weight-bold">Following is the stack trace - check the first 2 lines</p>
    <div style="background-color:whitesmoke; border:solid silver 1px;padding: 15px">
        <code class="mt-5" >
            {{error.details}}
        </code>
    </div>
}   
